body{
	background : #000000;
	color : #C0BCB6;
	font-family : monospace;
  font : 12px 'Menlo', 'Lucida Console' , Courier, monospace;
}

label {
    float : left;
    padding-top : 2px;
}
input {
    background : #000000;
    border : none;
    color : #FFFFFF;
    font : 12px 'Menlo', 'Lucida Console' , Courier, monospace;
    width : 99%;
}

.inputbox{
    overflow : hidden;
    padding-left : 10px;
}

#hideit {
    display : none;
}

.ps { 
    padding-top : 10px;
}

#arrow{
    color : #97C30A;
    padding : 4px;
}

#dir {
    color : #1FBED6;
}

#dollar {
    color : #F7E967;
}

#colon {
    color : #447799;
}

#git {
    color : #5288DB;
}

#branch {
    color : #FF717E;
}

#cmd {
    color : #FFFFFF;
}
#desc {
    padding-left: 6px;
}

#doc {
    color : #9C24A4;
}