body{
	background:#000000;
	color:#00FF00;
	font-family:monospace;
}

label {
    float:left;
    padding-top:2px;
}
input {
    cursor: url(cursor.cur);
    background: #000000;
    border: none;
    color: white;
    font:12px 'Menlo', 'Lucida Console' , Courier, monospace;
    width:99%;
}

.inputbox{
    overflow:hidden;
    padding-left:10px;
}