---
layout: layouts/home.njk
---

<div id="title-text">
	A blog by <span id="name"><span id="new-name">Sathya Gunasekaran</span></span>.
</div>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
