{%- css %}.postlist { counter-reset: start-from {{ talks.length + 1 }} }{% endcss %}
<ul reversed class="postlist">
{% for talk in talks %}
	<li class="postlist-item">
		<a href="{{ talk.url }}" class="postlist-link">{{ talk.title }}</a>
		<div class="postlist-event">{{ talk.event.name }}</div>
	</li>
{% endfor %}
</ul>
