{%- css %}.postlist { counter-reset: start-from {{ talks.length + 1 }} }{% endcss %}
<ul reversed class="postlist">
{% for talk in talks %}
	<li class="postlist-item">
		<a href="{{ talk.url }}" class="postlist-link">{{ talk.title }}</a>
		{% if talk.event.url !== undefined %}
			<a href="{{ talk.event.url }}" class="postlist-event">{{ talk.event.name }}</a>
		{% else %}
			<div class="postlist-event">{{ talk.event.name }}</div>
		{% endif %}
	</li>
{% endfor %}
</ul>
